.spinner{ 
    position: "fixed"; 
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
}
.page{
    background: blue !important;
    margin-right: 10px !important;
    width: 30px !important;
    height: 50px !important;
    outline: none !important;
    font-size: 20px !important;
    color: white !important;
}

.active{
    background-color : white !important;
    color:blue !important;
    font-weight: bold !important;
    margin-right: 10px !important;
    width: 30px !important;
    height: 50px !important;
    font-size: 20px !important;
    outline: none !important;
    border:1px solid black !important;
    border-radius: 10px !important;
}

.page:hover{
    background-color: rgb(175, 0, 96) !important;
    color:black !important;
    outline: none !important;
}

.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
}
.btn{
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}
.center{

  display: block;
  margin-left: auto;
  margin-right: auto;

}