.head{
    width:200px;
    height:50px;
    border:none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.pwd{
    margin-top: 10px;
    border-top:none;
    border-left: none;
    border-right: none;
    width: 200px;
    text-decoration: none;
}
.header{
    width:200px;
    height:50px;
    border:none;
    outline: none;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.active{
    border-bottom: 2PX solid black;
    font-size: 20px;
    border:none;
    outline: none;

}
.inactive{
    background-color: blue;
    color:wheat;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.4;
    cursor: pointer;
}

.form{
    border: 1px solid black;
    border-radius:10px ;
    width: 300px;
    height: 400px;
    text-align: center;
    margin:auto;

}
.login{
    border: 1px solid black;
    border-radius:10px ;
    width: 350px;
    height: 250px;
    text-align: center;
    margin:auto;
    margin-top: 20px;
}
.submit{
    border: 1px solid black;
    border-radius:10px ;
    margin-top: 12px;
    outline: none !important;
    border: none !important;
    color:purple;
    background-color: greenyellow;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.token{
    color: chartreuse;
    border: 1px solid black;
    border-radius: 10px;
    background-color: crimson;
    width:380px;
    height: 100px;
    margin: auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

